<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://api.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.css"
			rel="stylesheet"
		/>
		<script src="https://api.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.js"></script>
		<link rel="stylesheet" href="estilos.css" />
		<link href="output.css" rel="stylesheet" />
		<title>Map App</title>
	</head>
	<body class="bg-slate-50 p-5">
		<% const tokenID = locals.tokenID %>
		<div class="flex justify-center drop-shadow-xl m-2">
			<div
				id="map"
				class="rounded-xl"
				style="height: 350px; width: 100%"
			></div>
		</div>
		<div class="m-2 mt-5 flex flex-col flex-grow gap-4">
			<h1
				class="flex-auto self-center text-xl font-medium text-slate-400"
			>
				Markers Dashboard
			</h1>
		</div>

		<div class="m-2 mt-5 flex flex-row flex-grow gap-4">
			<div
				class="min-w-max max-w-xl bg-white border drop-shadow-xl rounded-md 2 p-6 self-start"
			>
				<h1 class="flex-auto text-lg font-semibold text-slate-700">
					Create New Marker
				</h1>
				<div class="gap-2 grid grid-cols-1 mt-3">
					<input
						type="text"
						placeholder="Nombre del Marcador"
						name="markerName"
						id="markerName"
						class="text-slate-500 p-1 border rounded-md focus:outline-none focus:border-sky-300"
					/>
					<input
						type="number"
						placeholder="Latitud"
						name="iLat"
						id="iLat"
						class="text-slate-500 p-1 border rounded-md focus:outline-none focus:border-sky-300"
					/>
					<input
						type="number"
						placeholder="Longitud"
						name="iLng"
						id="iLng"
						class="text-slate-500 p-1 border rounded-md focus:outline-none focus:border-sky-300"
					/>
				</div>
				<div class="mt-4">
					<button
						id="btnMarker"
						class="bg-slate-500 text-white rounded-sm py-1 px-3 w-full"
						type="button"
					>
						Set Marker
					</button>
				</div>
			</div>
			<div class="w-full rounded-md shadow-lg bg-slate-50">
				<table id="tableMarkers" class="w-full">
					<tr class="bg-sky-100 text-blue-900 text-left">
						<th class="p-2">Markers</th>
						<th class="p-2">Lat</th>
						<th class="p-2">Lng</th>
						<th class="p-2">Controls</th>
					</tr>
					<tbody
						id="tBMarkers"
						class="table-row-group bg-slate-50 text-sky-900"
					></tbody>
				</table>
			</div>
			<div
				class="min-w-max max-w-xl bg-white border drop-shadow-xl rounded-md self-start p-6 flex flex-col"
			>
				<h1>Counter Markers</h1>
				<h1
					class="text-6xl text-center self-center text-slate-600"
					id="counterMarkers"
				>
					0
				</h1>
			</div>
		</div>
	</body>
</html>

<script>
	function getMap() {
		mapboxgl.accessToken = '<%- tokenID %>'
		var map = new mapboxgl.Map({
			container: 'map',
			style: 'mapbox://styles/mapbox/streets-v11',
			center: [-73.935242, 40.73061],
			zoom: 0,
		})
		return map
	}
	function setMarker(lng, lat, containerID) {
		try {
			const marker = new mapboxgl.Marker({
				draggable: true,
			})
				.setLngLat([lng, lat])
				.addTo(containerID)
			getMarkers(marker)
			return marker
		} catch (error) {
			console.error(error)
		}
	}
	const map = getMap()
	document.getElementById('btnMarker').addEventListener('click', function () {
		try {
			const lat = document.getElementById('iLat').value
			const lng = document.getElementById('iLng').value
			const marker = setMarker(lat, lng, map)

			marker.on('dragend', function (e) {
				console.log(marker.getLngLat())
			})
		} catch (error) {
			console.log(error)
		}
	})
	const counterMarkers = document.getElementById('counterMarkers')
	function getMarkers(marker) {
		document
			.getElementById('tBMarkers')
			.querySelectorAll('tr')
			.forEach((tr) => {
				tr.remove()
			})
		markers.push({
			name: document.getElementById('markerName').value,
			lng: marker.getLngLat().lng,
			lat: marker.getLngLat().lat,
		})
		markers.forEach(function (marker) {
			const table = document.getElementById('tBMarkers')
			const row = document.createElement('tr')
			const name = document.createElement('td')
			const tdlng = document.createElement('td')
			const tdlat = document.createElement('td')
			const controls = document.createElement('td')
			const btnDelete = document.createElement('button')
			const btnEdit = document.createElement('button')

			tdlat.classList.add('pl-2')
			tdlng.classList.add('pl-2')
			name.classList.add('pl-2')
			btnDelete.classList.add('bg-red-100', 'text-red-400', 'p-2')
			btnEdit.classList.add('bg-sky-100', 'text-sky-600', 'p-2')
			controls.classList.add('pl-2')

			name.innerHTML = marker.name
			tdlng.innerHTML = marker.lng
			tdlat.innerHTML = marker.lat
			btnDelete.innerHTML = 'Delete'
			btnEdit.innerHTML = 'Edit'

			controls.append(btnDelete, btnEdit)
			row.append(name, tdlng, tdlat, controls)
			table.appendChild(row)
		})

		counterMarkers.innerHTML = markers.length

		document.querySelectorAll('inputs').forEach(function (input) {
			input.reset()
		})
	}
	let markers = []
</script>
